package view

import (
	"main/web/app/types"
	"main/web/app/view/components"
)

templ Index(webconfig types.WebConfig, page templ.Component) {
	<!DOCTYPE html>
	<html lang={webconfig.Language} d="a">
		<head>
			@Imports()
			@Meta(webconfig)
		</head>
		<body>
        	@components.Navigation(webconfig)
			<main class="min-h-screen bg-gray-50">
				@page
			</main>
			@components.Footer(webconfig)
			@components.CartWidget(webconfig)
		</body>
	</html>
}
